@model HomeVM 
 <section class="section first-section">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">
                    <div class="left-side">
                     @{
    var firstPopularPost = Model.PopularPosts.FirstOrDefault(); 
}

@if (firstPopularPost != null)
{
    <div class="masonry-box post-media">
        <img src="@firstPopularPost.PhotoUrl" alt="@firstPopularPost.Title" class="img-fluid">
        <div class="shadoweffect">
            <div class="shadow-desc">
                <div class="blog-meta">
                    <span class="bg-aqua"><a href="blog-category-01.html" title="">@firstPopularPost.Category.CategoryName</a></span>
                    <h4><a href="single.html" title="">@firstPopularPost.Title</a></h4>
                    <small><a href="single.html" title="">@firstPopularPost.CreatedDate.ToString("dd MMMM yyyy")</a></small>
                    <small><a href="blog-author.html" title="">by @firstPopularPost.User.FirstName @firstPopularPost.User.LastName</a></small>
                </div><!-- end meta -->
            </div><!-- end shadow-desc -->
        </div><!-- end shadow -->
    </div><!-- end post-media -->
}


                    </div><!-- end left-side -->

                   @{
    var secondPopularPost = Model.PopularPosts.Skip(1).FirstOrDefault(); 
}

@if (secondPopularPost != null)
{
    <div class="center-side">
        <div class="masonry-box post-media">
            <img src="@secondPopularPost.PhotoUrl" alt="@secondPopularPost.Title" class="img-fluid">
            <div class="shadoweffect">
                <div class="shadow-desc">
                    <div class="blog-meta">
                        <span class="bg-green"><a href="blog-category-01.html" title="">@secondPopularPost.Category.CategoryName</a></span>
                        <h4><a href="single.html" title="">@secondPopularPost.Title</a></h4>
                        <small><a href="single.html" title="">@secondPopularPost.CreatedDate.ToString("dd MMMM yyyy")</a></small>
                        <small><a href="blog-author.html" title="">by @secondPopularPost.User.FirstName @secondPopularPost.User.LastName</a></small>
                    </div><!-- end meta -->
                </div><!-- end shadow-desc -->
            </div><!-- end shadow -->
        </div><!-- end post-media -->
    </div><!-- end center-side -->
}

<div class="masonry-box small-box post-media">
    @if (Model.PopularPosts.Count >= 3)
    {
        var thirdPopularPost = Model.PopularPosts[2]; 
        <img src="@thirdPopularPost.PhotoUrl" alt="@thirdPopularPost.Title" class="img-fluid">
        <div class="shadoweffect">
            <div class="shadow-desc">
                <div class="blog-meta">
                    <span class="bg-green"><a href="blog-category-01.html" title="">@thirdPopularPost.Category.CategoryName</a></span>
                    <h4><a href="single.html" title="">@thirdPopularPost.Title</a></h4>
                    <!-- Diğer meta bilgileri buraya eklenebilir -->
                </div><!-- end meta -->
            </div><!-- end shadow-desc -->
        </div><!-- end shadow -->
    }
</div><!-- end post-media -->
                      <div class="masonry-box small-box post-media">
    @if (Model.PopularPosts.Count >= 4)
    {
        var fourthPopularPost = Model.PopularPosts[3]; 
        <img src="@fourthPopularPost.PhotoUrl" alt="@fourthPopularPost.Title" class="img-fluid">
        <div class="shadoweffect">
            <div class="shadow-desc">
                <div class="blog-meta">
                    <span class="bg-green"><a href="blog-category-01.html" title="">@fourthPopularPost.Category.CategoryName</a></span>
                    <h4><a href="single.html" title="">@fourthPopularPost.Title</a></h4>
                    
                </div><!-- end meta -->
            </div><!-- end shadow-desc -->
        </div><!-- end shadow -->
    }
</div><!-- end post-media -->

                    </div><!-- end left-side -->
                    </div><!-- end right-side -->
                </div><!-- end masonry -->
            </div>
        </section>
<div class="row">
    @foreach (var category in Model.Categories.Take(3)) 
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-title">
                <h3 class="color-aqua"><a href="blog-category-01.html" title="">@category.CategoryName</a></h3>
            </div><!-- end title -->
            @foreach (var article in Model.Articles)
            {
                <div class="blog-box">
                    <div class="post-media">
                        <a href="single.html" title="">
                            <img src="@article.PhotoUrl" alt="@article.Title" class="img-fluid">
                            <div class="hovereffect">
                                <span></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta big-meta">
                        <h4><a href="single.html" title="">@article.Title</a></h4>
                        <p>@article.Content</p>
                        <small><a href="blog-category-01.html" title="">@article.Category.CategoryName</a></small>
                        <small><a href="single.html" title="">@article.CreatedDate.ToString("dd MMMM yyyy")</a></small>
                        <small><a href="blog-author.html" title="">by @article.User.FirstName @article.User.LastName</a></small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            }
        </div><!-- end col -->
    }
</div><!-- end row -->

                                <hr class="invis">

                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <h3 class="color-pink"><a href="blog-category-01.html" title="">Salam qaqa</a></h3>
                        </div><!-- end title -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    @foreach (var article in Model.Articles.Where(a => a.Category.CategoryName == "Salam qaqa"))
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="blog-box">
                <div class="post-media">
                    <a href="single.html" title="">
                        <img src="@article.PhotoUrl" alt="@article.Title" class="img-fluid">
                        <div class="hovereffect">
                            <span></span>
                        </div><!-- end hover -->
                    </a>
                </div><!-- end media -->
                <div class="blog-meta big-meta">
                    <h4><a href="single.html" title="">@article.Title</a></h4>
                    <p>@article.Content</p>
                    <small><a href="blog-category-01.html" title="">@article.Category.CategoryName</a></small>
                    <small><a href="single.html" title="">@article.CreatedDate.ToString("dd MMMM yyyy")</a></small>
                    <small><a href="blog-author.html" title="">by @article.User.FirstName @article.User.LastName</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->
        </div><!-- end col -->
    }
</div><!-- end row -->

                                <hr class="invis">
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="~/vendors/upload/banner_01.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-9">
                        <div class="blog-list clearfix">
                          
                            <div class="blog-box row">
    @foreach (var article in Model.Articles)
    {
        <div class="col-md-4">
            <div class="post-media">
                <a href="single.html" title="">
                    <img src="@article.PhotoUrl" alt="" class="img-fluid">
                    <div class="hovereffect"></div>
                </a>
            </div><!-- end media -->
        </div><!-- end col -->

        <div class="blog-meta big-meta col-md-8">
            <h4><a href="single.html" title="">@article.Title</a></h4>
            <p>@article.Content</p>
            <small><a href="blog-category-01.html" title="">@article.Category.CategoryName</a></small>
            <small><a href="single.html" title="">@article.CreatedDate.ToString("dd/MM/yyyy")</a></small>
            <small><a href="blog-author.html" title="">@article.User.FirstName @article.User.LastName</a></small>
        </div><!-- end meta -->
    }
</div><!-- end blog-box -->

                            </div><!-- end blog-box -->

                            <hr class="invis">

                    <div class="col-lg-3">
                        <div class="section-title">
                            <h3 class="color-yellow"><a href="blog-category-01.html" title="">Vlogs</a></h3>
                        </div><!-- end title -->

                        <div class="blog-box">
                            <div class="post-media">
                                <a href="single.html" title="">
                                    <img src="~/vendors/upload/blog_10.jpg" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span class="videohover"></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="single.html" title="">We are guests of ABC Design Studio - Vlog</a></h4>
                                <small><a href="blog-category-01.html" title="">Videos</a></small>
                                <small><a href="blog-category-01.html" title="">21 July, 2017</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box">
                            <div class="post-media">
                                <a href="single.html" title="">
                                    <img src="~/vendors/upload/blog_11.jpg" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span class="videohover"></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="single.html" title="">Nostalgia at work</a></h4>
                                <small><a href="blog-category-01.html" title="">Videos</a></small>
                                <small><a href="blog-category-01.html" title="">20 July, 2017</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box">
                            <div class="post-media">
                                <a href="single.html" title="">
                                    <img src="~/vendors/upload/blog_12.jpg" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span class="videohover"></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="single.html" title="">How to become a good vlogger</a></h4>
                                <small><a href="blog-category-01.html" title="">salam qaqaa</a></small>
                                <small><a href="blog-category-01.html" title="">20 July, 2017</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="section-title">
                            <h3 class="color-grey"><a href="blog-category-01.html" title="">Health</a></h3>
                        </div><!-- end title -->

                        <div class="blog-box">
                            <div class="post-media">
                                <a href="single.html" title="">
                                    <img src="~/vendors/upload/blog_07.jpg" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="single.html" title="">Opened the doors of the Istanbul spa center</a></h4>
                                <small><a href="blog-category-01.html" title="">Spa</a></small>
                                <small><a href="blog-category-01.html" title="">21 July, 2017</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box">
                            <div class="post-media">
                                <a href="single.html" title="">
                                    <img src="~/vendors/upload/blog_08.jpg" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="single.html" title="">2017 trends in health tourism</a></h4>
                                <small><a href="blog-category-01.html" title="">Health</a></small>
                                <small><a href="blog-category-01.html" title="">20 July, 2017</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box">
                            <div class="post-media">
                                <a href="single.html" title="">
                                    <img src="~/vendors/upload/blog_09.jpg" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="single.html" title="">Experience the effects of miraculous stones</a></h4>
                                <small><a href="blog-category-01.html" title="">Avaradiii</a></small>
                                <small><a href="blog-category-01.html" title="">20 July, 2017</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="~/vendors/upload/banner_02.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>